---
name: SonarCloud Scan Jobs
on:
  pull_request:
  push:
    branches:
      - "feature/AT-5899"

jobs:
  sonarcloudScan:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    container: "ubuntu:bionic"
    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres:
        image: postgres:10
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: atat_test
          POSTGRES_USER: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install xmlsec and python dependencies
        run: |
          apt-get update -qqy
          echo UTC > /etc/timezone
          DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata
          dpkg-reconfigure -f noninteractive tzdata
          apt-get install -qqy build-essential curl git
          apt-get install -qqy sqlite3 libsqlite3-dev libffi-dev python-dev
          apt-get install -qqy libxml2-dev libxmlsec1-dev libxmlsec1-openssl xmlsec1 
      - name: Get pyenv
        run: |
          git clone https://github.com/pyenv/pyenv.git ~/.pyenv
          echo 'export PYENV_ROOT="$HOME/.pyenv"' >> ~/.bashrc
          echo 'export PATH="$PYENV_ROOT/bin:$PATH"' >> ~/.bashrc
          echo -e 'if command -v pyenv 1>/dev/null 2>&1; then\n  eval "$(pyenv init -)"\nfi' >> ~/.bashrc
      - name: Install python 3.7.3
        run: |
          . ~/.bashrc
          pyenv install 3.7.3
          pyenv local 3.7.3
          python -V
        shell: bash
      - name: Set Up Poetry
        run: |
          pip3 install poetry
      - name: Install yarn
        run: |
          curl -sL https://deb.nodesource.com/setup_10.x | bash -
          apt-get install -qqy nodejs
          curl -sL https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
          echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
          apt-get update
          apt-get install -qqy yarn
      - name: Run project setup script
        run: |
          apt-get install -qqy postgresql-client
          script/setup
        env:
          PGHOST: postgres
          PGPORT: ${{ job.services.postgres.ports[5432] }}
          REDIS_HOST: "redis:${{ job.services.redis.ports[6379] }}"
      - name: Run sonar scan script
        run: |
          script/sonar_scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          PGHOST: postgres
          PGPORT: ${{ job.services.postgres.ports[5432] }}
          REDIS_HOST: "redis:${{ job.services.redis.ports[6379] }}"